@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.475);
}
.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}


.home {
    height: 100vh;
    background: url('profile2.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.home-content {
    max-width: 600px;
}


.home-content h1 {
    position: relative;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    }


.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content.btn-box:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2s;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box a:hover {
    color: #00abf0;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}


.btn-box a:nth-child(2):hover {
    color: #081b29;
}



.btn-box a:nth-child(2)::before {
    background: #00abf0;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}


.btn-box a:hover::before {
    width: 100%;
}


.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #00abf0;
border-radius: 50%;
font-size: 20px;
color: #00abf0;
text-decoration: none;
z-index: 1;
overflow: hidden;
transition: .5s;
}

.home-sci a:hover{
color: #00abf0;
}


.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1 ;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards ;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}


.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: #081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}


/*KEYFRAMES ANIMATION*/
@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}



#services{
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}
#services h3{
    color: #00abf0 ;
    font-size: xx-large;
    font: 32px;
    text-align: center;
}

#services .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
}
#services .row .item{
    background-color: black ;
    padding: 30px 15px;
    box-shadow: #00abf0;
    color: #00abf0;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#services .row .item:hover{
    transform: scale(1.04);
}
#services .row .item h4{
    margin: 15px 0;
    color: #00abf0 ;
}
#services .row .item p{
    font-size: 14px;
    color: white;
}


#portfolio h3{
    text-align: center;
    font-size: 38px;
    color: #00abf0 ;
    font-weight: 600;
    letter-spacing: 1px;
}
#portfolio{
    background-color: black;
}


.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    color: white;
}

.part1{
    width: 600px;


}
.part2{
    width: 600px;
    }
      .part3{
        width: 400px;
        }
        .part4{
            width: 600px;
            }

.All{
    background: black;
   
}

#Portfolio h3{
    color: #00abf0 ;
    font-size: xx-large;
    font: 32px;
    text-align: center;
}

#portfolio h3{
    text-align: center;
    font-size: 38px;
    color: #00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5%;
}
#portfolio .screenshot img{
    display: grid;
    grid-template-columns: repeat(4,100px);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    width: 20%;
    height: auto;
    align-content: center;
    templ

}

#contact{
    padding: 4rem 0;
    text-align: center;
    align-items: center;
    background-color: black; 
}

#contact h3{
    text-align: center;
    font-size: 38px;
    color: #00abf0 ;
    font-weight: 600;
    letter-spacing: 1px;

}
#contact .row{
    margin-top: 4rem;
    border-radius: 10px;
    align-items: center;

}
#contact .row input, #contact .row textarea{
    display: block;
    width: 50%;
    outline: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2) ;
    background-color: #0f0f0f;
    border: 0px;
    border-radius: 3px;
    height: 60px;
    max-width: 523px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
#contact .row button{
    width: 238px;
    height: 60px;
    margin-top: 15px;
    background-color: #00abf0;
    color: black;
    border: 0px;
    border-radius: 4px;
}
  


